In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, VotingClassifier,ExtraTreesRegressor , RandomForestRegressor
from xgboost import XGBClassifier
from sklearn.metrics import confusion_matrix, accuracy_score
import pickle

C:\Users\master\Anaconda3\lib\site-packages\dask\config.py:168: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  data = yaml.load(f.read()) or {}
C:\Users\master\Anaconda3\lib\site-packages\dask\dataframe\utils.py:13: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm
C:\Users\master\Anaconda3\lib\site-packages\distributed\config.py:20: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  defaults = yaml.load(f)

In [2]:
df = pd.read_csv('train.csv', delimiter=',')
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [3]:
df['LotFrontage'].value_counts(dropna=False)

NaN      259
60.0     143
70.0      70
80.0      69
50.0      57
        ...
106.0      1
38.0       1
138.0      1
140.0      1
137.0      1
Name: LotFrontage, Length: 111, dtype: int64

In [4]:
df['LotFrontage'] = df['LotFrontage'].fillna(df['LotFrontage'].mean())
df['LotFrontage'].value_counts(dropna=False)

70.049958     259
60.000000     143
70.000000      70
80.000000      69
50.000000      57
             ...
106.000000      1
38.000000       1
140.000000      1
138.000000      1
137.000000      1
Name: LotFrontage, Length: 111, dtype: int64

In [5]:
df['MasVnrArea'].value_counts(dropna=False)
df['MasVnrArea'] = df['MasVnrArea'].fillna(0)

In [6]:
#df['Electrical'].value_counts()
df['Electrical'] = df['Electrical'].fillna('SBrkr')

In [7]:
df['GarageYrBlt'] = df['GarageYrBlt'].fillna(0)
df['GarageYrBlt'].value_counts(dropna=False)

0.0       81
2005.0    65
2006.0    59
2004.0    53
2003.0    50
          ..
1906.0     1
1927.0     1
1900.0     1
1908.0     1
1933.0     1
Name: GarageYrBlt, Length: 98, dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1460 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1460 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1460 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1460 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [15]:
df = pd.get_dummies(df)
y = df['SalePrice'].values
X = df[:].values

In [ ]:
X = df.iloc[:, :-1].values
X

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [17]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [18]:
y_pred = regressor.predict(X_test)
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[200624. 200624.]
 [133000. 133000.]
 [110000. 110000.]
 [192000. 192000.]
 [ 88000.  88000.]
 [ 85000.  85000.]
 [282922. 282922.]
 [141000. 141000.]
 [745000. 745000.]
 [148800. 148800.]
 [208900. 208900.]
 [136905. 136905.]
 [225000. 225000.]
 [123000. 123000.]
 [119200. 119200.]
 [145000. 145000.]
 [190000. 190000.]
 [123600. 123600.]
 [149350. 149350.]
 [155000. 155000.]
 [166000. 166000.]
 [144500. 144500.]
 [110000. 110000.]
 [174000. 174000.]
 [185000. 185000.]
 [168000. 168000.]
 [177500. 177500.]
 [ 84500.  84500.]
 [320000. 320000.]
 [118500. 118500.]
 [110000. 110000.]
 [213000. 213000.]
 [156000. 156000.]
 [250000. 250000.]
 [372500. 372500.]
 [175000. 175000.]
 [277500. 277500.]
 [112500. 112500.]
 [263000. 263000.]
 [325000. 325000.]
 [243000. 243000.]
 [130000. 130000.]
 [164990. 164990.]
 [280000. 280000.]
 [403000. 403000.]
 [119000. 119000.]
 [125000. 125000.]
 [128200. 128200.]
 [172500. 172500.]
 [ 84900.  84900.]
 [412500. 412500.]
 [156000. 156000.]
 [167900. 167900.]
 [100000. 100000.]
 [275000. 275000.]
 [123000. 123000.]
 [132000. 132000.]
 [239900. 239900.]
 [139000. 139000.]
 [115000. 115000.]
 [137500. 137500.]
 [135000. 135000.]
 [134450. 134450.]
 [180500. 180500.]
 [193500. 193500.]
 [156500. 156500.]
 [132000. 132000.]
 [224500. 224500.]
 [139000. 139000.]
 [225000. 225000.]
 [188500. 188500.]
 [118000. 118000.]
 [ 82000.  82000.]
 [392000. 392000.]
 [112000. 112000.]
 [248900. 248900.]
 [134500. 134500.]
 [ 79500.  79500.]
 [320000. 320000.]
 [158000. 158000.]
 [140000. 140000.]
 [136500. 136500.]
 [107500. 107500.]
 [145000. 145000.]
 [200500. 200500.]
 [185000. 185000.]
 [105000. 105000.]
 [202665. 202665.]
 [186000. 186000.]
 [136000. 136000.]
 [200500. 200500.]
 [190000. 190000.]
 [187500. 187500.]
 [200000. 200000.]
 [172500. 172500.]
 [157000. 157000.]
 [213000. 213000.]
 [185000. 185000.]
 [124500. 124500.]
 [162900. 162900.]
 [260000. 260000.]
 [198500. 198500.]
 [120000. 120000.]
 [159500. 159500.]
 [105900. 105900.]
 [260000. 260000.]
 [143000. 143000.]
 [106500. 106500.]
 [178900. 178900.]
 [127000. 127000.]
 [ 90350.  90350.]
 [118500. 118500.]
 [190000. 190000.]
 [119900. 119900.]
 [183900. 183900.]
 [155000. 155000.]
 [386250. 386250.]
 [133000. 133000.]
 [193500. 193500.]
 [270000. 270000.]
 [141000. 141000.]
 [146000. 146000.]
 [128500. 128500.]
 [176000. 176000.]
 [214000. 214000.]
 [222000. 222000.]
 [415298. 415298.]
 [187750. 187750.]
 [199900. 199900.]
 [180000. 180000.]
 [206300. 206300.]
 [194000. 194000.]
 [142953. 142953.]
 [182900. 182900.]
 [116050. 116050.]
 [213250. 213250.]
 [139500. 139500.]
 [179000. 179000.]
 [107900. 107900.]
 [175900. 175900.]
 [158500. 158500.]
 [145000. 145000.]
 [217000. 217000.]
 [150500. 150500.]
 [108959. 108959.]
 [165600. 165600.]
 [201000. 201000.]
 [145500. 145500.]
 [319900. 319900.]
 [215000. 215000.]
 [180500. 180500.]
 [367294. 367294.]
 [239000. 239000.]
 [145900. 145900.]
 [161000. 161000.]
 [250000. 250000.]
 [ 89471.  89471.]
 [230000. 230000.]
 [147000. 147000.]
 [163900. 163900.]
 [ 97000.  97000.]
 [142000. 142000.]
 [197000. 197000.]
 [129000. 129000.]
 [232000. 232000.]
 [115000. 115000.]
 [175000. 175000.]
 [265000. 265000.]
 [207000. 207000.]
 [181000. 181000.]
 [176000. 176000.]
 [171000. 171000.]
 [196000. 196000.]
 [176000. 176000.]
 [113000. 113000.]
 [139000. 139000.]
 [135000. 135000.]
 [240000. 240000.]
 [112000. 112000.]
 [134000. 134000.]
 [316600. 316600.]
 [170000. 170000.]
 [116000. 116000.]
 [306000. 306000.]
 [ 82500.  82500.]
 [175000. 175000.]
 [106000. 106000.]
 [194000. 194000.]
 [194201. 194201.]
 [155900. 155900.]
 [138000. 138000.]
 [177000. 177000.]
 [214000. 214000.]
 [148000. 148000.]
 [127000. 127000.]
 [142500. 142500.]
 [ 80000.  80000.]
 [145000. 145000.]
 [171000. 171000.]
 [122500. 122500.]
 [139000. 139000.]
 [189000. 189000.]
 [120500. 120500.]
 [124000. 124000.]
 [160000. 160000.]
 [200000. 200000.]
 [160000. 160000.]
 [313000. 313000.]
 [275000. 275000.]
 [ 67000.  67000.]
 [159000. 159000.]
 [251000. 251000.]
 [ 92900.  92900.]
 [109500. 109500.]
 [385000. 385000.]
 [129000. 129000.]
 [ 82500.  82500.]
 [301000. 301000.]
 [249700. 249700.]
 [ 81000.  81000.]
 [187500. 187500.]
 [110000. 110000.]
 [117000. 117000.]
 [128500. 128500.]
 [213490. 213490.]
 [284000. 284000.]
 [230500. 230500.]
 [190000. 190000.]
 [135000. 135000.]
 [152000. 152000.]
 [ 87500.  87500.]
 [155000. 155000.]
 [115000. 115000.]
 [144000. 144000.]
 [248000. 248000.]
 [132500. 132500.]
 [136000. 136000.]
 [117000. 117000.]
 [ 82000.  82000.]
 [157500. 157500.]
 [110000. 110000.]
 [181000. 181000.]
 [192500. 192500.]
 [223500. 223500.]
 [181500. 181500.]
 [170000. 170000.]
 [187500. 187500.]
 [185900. 185900.]
 [160000. 160000.]
 [192000. 192000.]
 [181900. 181900.]
 [266000. 266000.]
 [ 99900.  99900.]
 [438780. 438780.]
 [229456. 229456.]
 [216837. 216837.]
 [110500. 110500.]
 [175900. 175900.]
 [538000. 538000.]
 [160000. 160000.]
 [172500. 172500.]
 [108000. 108000.]
 [131500. 131500.]
 [106250. 106250.]
 [385000. 385000.]
 [370878. 370878.]
 [345000. 345000.]
 [ 68500.  68500.]
 [250000. 250000.]
 [245350. 245350.]
 [125000. 125000.]
 [234000. 234000.]
 [145000. 145000.]
 [181000. 181000.]
 [104000. 104000.]
 [233000. 233000.]
 [164000. 164000.]
 [219500. 219500.]
 [195000. 195000.]
 [108000. 108000.]
 [149900. 149900.]
 [315000. 315000.]
 [177500. 177500.]
 [140000. 140000.]
 [193879. 193879.]
 [137900. 137900.]
 [118000. 118000.]
 [324000. 324000.]
 [555000. 555000.]
 [136000. 136000.]
 [ 82500.  82500.]
 [101000. 101000.]]

In [20]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, y_pred)

4.44474737476165e-21

In [24]:
filename = 'Regression_model.sav'
pickle.dump(regressor, open(filename, 'wb'))